body {
  margin: 0;
  padding: 0;
}

.homepage {
  display: grid;
  grid-template-columns: 1fr 3.2fr 2fr;
  grid-template-rows: minmax(30vh, auto) minmax(28vh, auto) auto;
  gap: 30px;
  margin: 35px 60px;
  background-color: var(--background-color);
}

.module {
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.feature {
  color: var(--text-color-2);
  font-weight: 700;
  font-size: 1.2rem;
  grid-column: 1 / 2;
  grid-row: 1 / -1;
  background-color: var(--highlight-color-1);
}

.banner {
  grid-column: 2 / 3;
  grid-row: 1;
  background: var(--gradient-1);
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 28vh;
  padding-bottom: 50px;
  overflow: hidden;
}

.sideModule {
  grid-column: 3 / 4;
  grid-row: 1;
  background: var(--gradient-1);
  padding: 0;
}

.modulesUnderBanner {
  grid-column: 2 / 3;
  grid-row: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.module1,
.module2 {
  color: var(--text-color-2);
  font-weight: 700;
  font-size: 1.2rem;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--highlight-color-1);
  min-height: 28vh;
}

.module3 {
  color: var(--text-color-2);
  font-weight: 700;
  font-size: 1.2rem;
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: var(--highlight-color-1);
  min-height: 28vh;
}

.bottomModule {
  grid-column: 2 / -1;
  grid-row: 3;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--highlight-color-1);
  padding: 20px;
  min-height: 10vh;
  overflow: hidden;
}
