html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.navbar {
  display: flex;
  height: 90px;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--background-color);
  color: var(--text-color);
  position: sticky;
  top: 0;
  z-index: 1000; /* Higher than other content */
  transition:
    height 0.3s ease-in-out,
    padding 0.3s ease-in-out;
}

.navList {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0; /* Ensure there's no default margin */
  flex-grow: 1; /* Add this to allow the list to grow and occupy available space */
}

.navItem {
  margin: 0 30px; /* Adjust as needed to space out the links */
}

.navLink {
  color: var(--text-color);
  font-weight: bold;
  font-size: 0.9rem;
  text-decoration: none;
}

.brandName {
  font-size: 24px;
  font-weight: bold;
  flex-shrink: 0; /* Prevent the brand name from shrinking */
  margin-right: 17px; /* Add right margin to create space */
}

.brandName,
.navList {
  padding: 10px 20px; /* Example original padding */
  transition: padding 0.3s ease-in-out;
}

/* Adjustments for placeholders and button */
.navbarIcon,
.actionButton {
  display: inline-block; /* Display items inline */
  margin: 0 30px; /* Maintain spacing on the right */
  font-size: 1rem;
  transition: margin 0.3s ease-in-out;
}

.navbarIcon {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  background-color: var(--text-color);
  color: var(--background-color);
  margin: 0 18px;
  padding: 0 7px;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: scale 0.2s ease-in-out;
  position: relative;
}

.navbarIcon:hover {
  scale: 108%;
}

.actionButton {
  background-color: var(--text-color);
  color: var(--background-color);
  border: none;
  border-radius: 999px;
  font-weight: bold;
  padding: 7px 20px;
  cursor: pointer;
  transition:
    background-color 0.3s,
    transform 0.3s; /* Smooth transition for hover effects */
}

.actionButton:hover {
  background-color: var(
    --highlight-color-1
  ); /* Slightly darker shade on hover */
  transform: scale(1.05); /* Slightly increase size on hover */
}

.roundedButton {
  border-radius: 999px; /* Ensures fully rounded corners */
}

.scrolled {
  height: 50px; /* Reduced height when scrolled */
  padding: 0 15px; /* Adjust padding if necessary */
}

.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33px; /* Ensure this width matches the intended size of the icons */
  height: 33px; /* Ensure this height matches the intended size of the icons */
  position: relative;
  overflow: hidden; /* Add this to prevent the icon from overflowing the button */
}

.staticIcon,
.animatedIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centers the icon */
  width: 100%; /* Adjust if necessary to match the icon's size */
  height: auto; /* Adjust if necessary to preserve the icon's aspect ratio */
  transition: opacity 0.5s ease; /* Smooth transition for opacity */
  opacity: 0; /* Start with icons hidden */
}

.staticIcon {
  z-index: 1; /* Ensure static icon is above the animated one by default */
  opacity: 1; /* Make static icon visible by default */
}

.animatedIcon {
  visibility: visible; /* Always visible but transparent when not hovered */
  z-index: 2; /* Ensure animated icon is above the static one */
}

/* On hover of the navbarIcon, hide the static icon and fade in the animated icon */
.navbarIcon:hover .staticIcon {
  opacity: 0; /* Fade out the static icon */
}

.navbarIcon:hover .animatedIcon {
  opacity: 1; /* Fade in the animated icon */
}

.icon {
  transition:
    transform 0.3s ease,
    opacity 0.1s ease;
  transform-origin: -7px -5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.iconHide {
  opacity: 0;
  transform: scale(0.5);
  pointer-events: none;
}

.hamburgerIcon {
  display: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.navbar.active .hamburgerIcon,
.navbar.active .navList {
  display: block; /* Show when active */
}

@media (max-width: 768px) {
  .navList,
  .actionButton,
  .navbarIcon:not(.toggleTheme) {
    display: none;
  }

  .toggleTheme {
    position: absolute;
    right: 20px;
  }

  .brandName {
    position: absolute;
    left: 50%;
    margin: 0;
    transform: translateX(-50%);
  }
  .hamburgerIcon {
    display: block; /* Show only on mobile */
    color: var(--text-color);
  }

  /* Hide the nav list initially on mobile */
  .navList {
    display: none;
    position: absolute;
    top: 90px; /* Adjust based on navbar height */
    left: 0;
    width: 100%;
    background-color: var(--background-color);
    flex-direction: column;
    align-items: center;
  }

  /* Show the nav list when hamburger menu is active */
  .navbar.active .navList {
    display: flex;
    top: 100%;
    left: 0;
    width: 100%;
    max-width: 100vw;
    box-sizing: border-box;
    overflow-x: hidden;
  }
}
