/* color schemes */
:root {
  /* light mode fallback colors */
  --background-color: #fdfcf6;
  --text-color: #0a0802;
  --text-color-2: #fff;
  --highlight-color-1: #d2ccc5;
  --highlight-color-2: #8fc8d6;
  --gradient-1: linear-gradient(to top, #948984, #b4aca4);
}

/* Light Mode Base and Color Schemes */
body[data-theme="light"] {
  --background-color: #fdfcf6; /* Default for light mode */
  --text-color: #0a0802;
  --text-color-2: #fff;
  --highlight-color-1: #d2ccc5;
  --highlight-color-2: #8fc8d6;
  --gradient-1: linear-gradient(to top, #948984, #b4aca4);
}

body[data-theme="light"][data-color-scheme="1"] {
  --background-color: #fdfcf6;
  --text-color: #0a0802;
  --text-color-2: #fff;
  --highlight-color-1: #d2ccc5;
  --highlight-color-2: #8fc8d6;
  --gradient-1: linear-gradient(to top, #948984, #b4aca4);
}

body[data-theme="light"][data-color-scheme="2"] {
  --background-color: #fafafa;
  --text-color: #444444;
  --text-color-2: #fff;
  --highlight-color-1: #ff616f;
  --highlight-color-2: #61dfff;
  --gradient-1: linear-gradient(to top, #948984, #b4aca4);
}

body[data-theme="light"][data-color-scheme="3"] {
  --background-color: #f0f0f0;
  --text-color: #555555;
  --text-color-2: #fff;
  --highlight-color-1: #61ff7a;
  --highlight-color-2: #61dfff;
  --gradient-1: linear-gradient(to top, #948984, #b4aca4);
}

body[data-theme="light"][data-color-scheme="4"] {
  --background-color: #e0e0e0;
  --text-color: #666666;
  --text-color-2: #fff;
  --highlight-color-1: #7a61ff;
  --highlight-color-2: #61dfff;
  --gradient-1: linear-gradient(to top, #948984, #b4aca4);
}

/* Dark Mode Base and Color Schemes */
body[data-theme="dark"] {
  --background-color: #0a0802; /* Default for dark mode */
  --text-color: #fdfcf6;
  --text-color-2: #fff;
  --highlight-color-1: #9bdbff;
  --highlight-color-2: #61dfff;
  --gradient-1: linear-gradient(to top, #948984, #b4aca4);
}

body[data-theme="dark"][data-color-scheme="1"] {
  --background-color: #0a0802;
  --text-color: #fdfcf6;
  --text-color-2: #fff;
  --highlight-color-1: #9bdbff;
  --highlight-color-2: #61dfff;
  --gradient-1: linear-gradient(to top, #948984, #b4aca4);
}

body[data-theme="dark"][data-color-scheme="2"] {
  --background-color: #292929;
  --text-color: #eeeeee;
  --text-color-2: #fff;
  --highlight-color-1: #ff9b9b;
  --highlight-color-2: #61dfff;
  --gradient-1: linear-gradient(to top, #948984, #b4aca4);
}

body[data-theme="dark"][data-color-scheme="3"] {
  --background-color: #1f1f1f;
  --text-color: #dddddd;
  --text-color-2: #fff;
  --highlight-color-1: #9bff9b;
  --highlight-color-2: #61dfff;
  --gradient-1: linear-gradient(to top, #948984, #b4aca4);
}

body[data-theme="dark"][data-color-scheme="4"] {
  --background-color: #141414;
  --text-color: #cccccc;
  --text-color-2: #fff;
  --highlight-color-1: #9b9bff;
  --highlight-color-2: #61dfff;
  --gradient-1: linear-gradient(to top, #948984, #b4aca4);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition:
    background-color 0.2s ease,
    color 0.2s ease;
}

/* fonts */
@font-face {
  font-family: "Product Sans";
  src: url("../fonts/ProductSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Product Sans";
  src: url("../fonts/ProductSans-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Product Sans";
  src: url("../fonts/ProductSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Product Sans";
  src: url("../fonts/ProductSans-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

body,
button,
input,
textarea {
  font-family: "Product Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Product Sans", sans-serif;
  font-weight: bold;
}

em,
i {
  font-style: italic;
}

strong,
b {
  font-weight: bold;
}
