/* color schemes */
:root {
  /* light mode fallback colors */
  --background-color: #fdfcf6;
  --text-color: #0a0802;
  --text-color-2: #fff;
  --highlight-color-1: #d2ccc5;
  --highlight-color-2: #8fc8d6;
  --gradient-1: linear-gradient(to top, #948984, #b4aca4);
}

/* Light Mode Base and Color Schemes */
body[data-theme="light"] {
  --background-color: #fdfcf6; /* Default for light mode */
  --text-color: #0a0802;
  --text-color-2: #fff;
  --highlight-color-1: #d2ccc5;
  --highlight-color-2: #8fc8d6;
  --gradient-1: linear-gradient(to top, #948984, #b4aca4);
}

body[data-theme="light"][data-color-scheme="1"] {
  --background-color: #fdfcf6;
  --text-color: #0a0802;
  --text-color-2: #fff;
  --highlight-color-1: #d2ccc5;
  --highlight-color-2: #8fc8d6;
  --gradient-1: linear-gradient(to top, #948984, #b4aca4);
}

body[data-theme="light"][data-color-scheme="2"] {
  --background-color: #ffe4e6;
  --text-color-1: #88304e;
  --text-color-2: #ffffff;
  --highlight-color-1: #ffc1cc;
  --highlight-color-2: #ffa6b9;
  --gradient-1: linear-gradient(#ff748c, #e63946);
}

body[data-theme="light"][data-color-scheme="3"] {
  --background-color: #fff0d5;
  --text-color-1: #4a4e69;
  --text-color-2: #ffffff;
  --highlight-color-1: #ffd6a5;
  --highlight-color-2: #fabd80;
  --gradient-1: linear-gradient(#e59866, #d9822f);
}

body[data-theme="light"][data-color-scheme="4"] {
  --background-color: #dafef6;
  --text-color-1: #405d27;
  --text-color-2: #ffffff;
  --highlight-color-1: #a2f2bf;
  --highlight-color-2: #74d3ae;
  --gradient-1: linear-gradient(#66d2c9, #2caba8);
}

body[data-theme="light"][data-color-scheme="5"] {
  --background-color: #d8f3ff;
  --text-color-1: #2c387e;
  --text-color-2: #ffffff;
  --highlight-color-1: #81d4fa;
  --highlight-color-2: #4fc3f7;
  --gradient-1: linear-gradient(#29b6f6, #0288d1);
}

body[data-theme="light"][data-color-scheme="6"] {
  --background-color: #d6fff1;
  --text-color-1: #274d5b;
  --text-color-2: #ffffff;
  --highlight-color-1: #80cbc4;
  --highlight-color-2: #4db6ac;
  --gradient-1: linear-gradient(#00897b, #00695c);
}

body[data-theme="light"][data-color-scheme="7"] {
  --background-color: #eafaf1;
  --text-color-1: #1a5276;
  --text-color-2: #ffffff;
  --highlight-color-1: #48c9b0;
  --highlight-color-2: #76d7c4;
  --gradient-1: linear-gradient(#45b39d, #52be80);
}

body[data-theme="light"][data-color-scheme="8"] {
  --background-color: #e8f8f5;
  --text-color-1: #196f3d;
  --text-color-2: #ffffff;
  --highlight-color-1: #abebc6;
  --highlight-color-2: #28b463;
  --gradient-1: linear-gradient(#1d8348, #239b56);
}

body[data-theme="light"][data-color-scheme="9"] {
  --background-color: #f5eef8;
  --text-color-1: #512e5f;
  --text-color-2: #ffffff;
  --highlight-color-1: #bb8fce;
  --highlight-color-2: #8e44ad;
  --gradient-1: linear-gradient(#8e44ad, #c39bd3);
}

/* Dark Mode Base and Color Schemes */
body[data-theme="dark"] {
  --background-color: #0a0802; /* Default for dark mode */
  --text-color: #fdfcf6;
  --text-color-2: #fff;
  --highlight-color-1: #9bdbff;
  --highlight-color-2: #61dfff;
  --gradient-1: linear-gradient(to top, #948984, #b4aca4);
}

body[data-theme="dark"][data-color-scheme="1"] {
  --background-color: #1e1c19;
  --text-color: #f5f5f5;
  --text-color-2: #f5f5f5;
  --highlight-color-1: #a89990;
  --highlight-color-2: #62717a;
  --gradient-1: linear-gradient(to top, #5a534f, #79706a);
}

body[data-theme="dark"][data-color-scheme="2"] {
  --background-color: #2c0a0b;
  --text-color-1: #fadadd;
  --text-color-2: #ffcede;
  --highlight-color-1: #d81b60;
  --highlight-color-2: #ad1457;
  --gradient-1: linear-gradient(#d81b60, #ad1457);
}

body[data-theme="dark"][data-color-scheme="3"] {
  --background-color: #3f3a2f;
  --text-color-1: #c9cdd4;
  --text-color-2: #f8d3b0;
  --highlight-color-1: #e6ac77;
  --highlight-color-2: #c07848;
  --gradient-1: linear-gradient(#a15a33, #6b381d);
}

body[data-theme="dark"][data-color-scheme="4"] {
  --background-color: #2e4045;
  --text-color-1: #a4d3ca;
  --text-color-2: #b2f1e4;
  --highlight-color-1: #68afa0;
  --highlight-color-2: #4e8c87;
  --gradient-1: linear-gradient(#39796b, #2c5f5b);
}

body[data-theme="dark"][data-color-scheme="5"] {
  --background-color: #192734;
  --text-color-1: #b3dffd;
  --text-color-2: #bfd7f3;
  --highlight-color-1: #4e8fda;
  --highlight-color-2: #3272b4;
  --gradient-1: linear-gradient(#2456a6, #0d2f61);
}

body[data-theme="dark"][data-color-scheme="6"] {
  --background-color: #25494d;
  --text-color-1: #9dc3c1;
  --text-color-2: rgb(202, 237, 249);
  --highlight-color-1: #5b8e90;
  --highlight-color-2: #417b7a;
  --gradient-1: linear-gradient(#00695c, #004d40);
}

body[data-theme="dark"][data-color-scheme="7"] {
  --background-color: #285b5c;
  --text-color-1: #90c8c1;
  --text-color-2: #ecbfcc;
  --highlight-color-1: #3d7978;
  --highlight-color-2: #5a9997;
  --gradient-1: linear-gradient(#316b6e, #204e52);
}

body[data-theme="dark"][data-color-scheme="8"] {
  --background-color: #2a5349;
  --text-color-1: #c6dec1;
  --text-color-2: #cedeea;
  --highlight-color-1: #709c8b;
  --highlight-color-2: #467d65;
  --gradient-1: linear-gradient(#3c6b58, #244d3c);
}

body[data-theme="dark"][data-color-scheme="9"] {
  --background-color: #342a3b;
  --text-color-1: #e2d1e3;
  --text-color-2: #ddcfbb;
  --highlight-color-1: #936aa7;
  --highlight-color-2: #714485;
  --gradient-1: linear-gradient(#5a3968, #421e4e);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition:
    background-color 0.2s ease,
    color 0.2s ease;
}

/* fonts */
@font-face {
  font-family: "Product Sans";
  src: url("../fonts/ProductSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Product Sans";
  src: url("../fonts/ProductSans-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Product Sans";
  src: url("../fonts/ProductSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Product Sans";
  src: url("../fonts/ProductSans-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

body,
button,
input,
textarea {
  font-family: "Product Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Product Sans", sans-serif;
  font-weight: bold;
}

em,
i {
  font-style: italic;
}

strong,
b {
  font-weight: bold;
}
