/* color schemes */
:root {
  --background-color: #fdfcf6; /* Fallback background color for light mode */
  --text-color: #000000; /* Fallback text color for light mode */
  --highlight-color: #61dfff; /* Fallback highlight color for light mode */
}

/* Light Mode Base and Color Schemes */
body[data-theme="light"] {
  --background-color: #fdfcf6; /* Default for light mode */
  --text-color: #333333;
  --highlight-color: #61dfff;
}

body[data-theme="light"][data-color-scheme="1"] {
  --background-color: #fdfcf6;
  --text-color: #333333;
  --highlight-color: #61dfff;
}

body[data-theme="light"][data-color-scheme="2"] {
  --background-color: #fafafa;
  --text-color: #444444;
  --highlight-color: #ff616f;
}

body[data-theme="light"][data-color-scheme="3"] {
  --background-color: #f0f0f0;
  --text-color: #555555;
  --highlight-color: #61ff7a;
}

body[data-theme="light"][data-color-scheme="4"] {
  --background-color: #e0e0e0;
  --text-color: #666666;
  --highlight-color: #7a61ff;
}

/* Dark Mode Base and Color Schemes */
body[data-theme="dark"] {
  --background-color: #333333; /* Default for dark mode */
  --text-color: #ffffff;
  --highlight-color: #9bdbff;
}

body[data-theme="dark"][data-color-scheme="1"] {
  --background-color: #333333;
  --text-color: #ffffff;
  --highlight-color: #9bdbff;
}

body[data-theme="dark"][data-color-scheme="2"] {
  --background-color: #292929;
  --text-color: #eeeeee;
  --highlight-color: #ff9b9b;
}

body[data-theme="dark"][data-color-scheme="3"] {
  --background-color: #1f1f1f;
  --text-color: #dddddd;
  --highlight-color: #9bff9b;
}

body[data-theme="dark"][data-color-scheme="4"] {
  --background-color: #141414;
  --text-color: #cccccc;
  --highlight-color: #9b9bff;
}

/* fonts */
@font-face {
  font-family: "Product Sans";
  src: url("../fonts/ProductSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Product Sans";
  src: url("../fonts/ProductSans-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Product Sans";
  src: url("../fonts/ProductSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Product Sans";
  src: url("../fonts/ProductSans-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

body,
button,
input,
textarea {
  font-family: "Product Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Product Sans", sans-serif;
  font-weight: bold;
}

em,
i {
  font-style: italic;
}

strong,
b {
  font-weight: bold;
}
