.footer {
  background-color: var(--background-color);
  color: var(--text-color);
  text-align: center;
  padding: 20px 0;
  font-weight: bold;
}

.footer p {
  margin-bottom: 20px;
}

.footer a {
  color: var(--text-color);
  text-decoration: none;
}

.iconContainer {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin: 20px 0;
}

.socialIcon {
  fill: currentColor;
  width: 30px;
  height: 30px;
  transition: scale 0.1s ease-in-out;
}

.socialIcon:hover {
  scale: 108%;
}
